* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 1rem;
    font-family: "Poppins", serif;
}

body {
    min-height: 100vh;
}

/* nav  */
.logo {
    width: 50px;
    height: 50px;
    background-color: #a52a2a;
    border-radius: 50%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.list {
    display: inline-block;
    list-style: none;
    padding: 20px;
}

a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover {
    text-decoration: 2px solid underline #000000;
}

/* header  */
.header {
    height: min-content;
    background-color: cornflowerblue;
}

.contain {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

h1 {
    font-size: 5rem;
}

.first {
    width: 40%; 
}

.first p {
    margin: 0 0 10px;
}

button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.second {
    width: 500px;
    height: 320px;
    background-color: #f0f8ff;
}
